.navbar {
	color:black;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: yellow;
	height: 30px;
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 0px 20px;
	button {
		width: 30px;
		height: 25px;
		img {
			width: 100%;
			height: 100%;
		}
		img#indonesian {
			display: none;
		}
	}
}

.image-about {
	margin-bottom: 20px;
}

.resource-tag a {
	color: #FFCC0060;
	font-size: 1.6rem;
	text-decoration: none;
	font-weight: lighter;
}
.resource-tag a:hover {
	/*color: #dddddd60;*/
	text-shadow: 0px 0px 5px #fff;
}

.my-link {
	color: #FFCC00;
}

.my-link:hover {
	filter: brightness(150%);
	color: #6e5802;
}

@media only screen and (max-width: 768px) {
	.about-box-button {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.about-more-btn {
			border: 2px solid #fff;
			padding: 8px 15px;
		    font-size: 10px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    color: #fff;
		    a {
		    	text-decoration: none;
		    }
		}

		.about-more-btn:hover {
			background-color: white;
			a {
				color: gray;
			}
		}
		.button-2 {
			a {
				padding: 0px;
				text-decoration: none;
				border: none;
				font-size: 10px;
			}
			a:hover {
				text-decoration: underline;
				background-color: transparent;
				color: #fff !important;
			}
			text-transform: uppercase;
		}
	}

	.about-more {
		color: white;
		text-align: center;
		/*width: 55vw;*/
		div h3 {
			font-size: 21px;
		}
	}
}

@media only screen and (min-width: 769px) {
	.about-box-button {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 50px;
		.about-more-btn {
			border: 2px solid #fff;
			padding: 8px 15px;
		    font-size: 13px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    color: #fff;
		    a {
		    	text-decoration: none;
		    }
		}

		.about-more-btn:hover {
			background-color: white;
			a {
				color: gray;
			}
		}
		.button-2 {
			a {
				text-decoration: none;
				border: none;
				padding: 0px;
				span {
					color: white;
				}
			}
			a:hover {
				text-decoration: underline;
				text-decoration-color: #ffcc00;
				background-color: transparent;
				color: #fff !important;
			}
			text-transform: uppercase;
		}
	}
}


.box-back-to-top {
	display: flex;
	justify-content: center;
	padding-top: 50px;
	.back-to-top {
		color: #fff;
		font-size: 13px;
		background-color: transparent;
		padding: 5px 10px;
		font-weight: lighter;
		text-decoration-color: #ffcc00;
	}
	.back-to-top:hover {
		color: #ddd;	
	}
}



.about-more {
	color: white;
}

.about-detail {
	border: 2px solid #FFCC00;
	color: #fff;
	.about-detail-title {
		color:white; 
		font-weight: bold;
		text-transform: uppercase; 
		text-decoration: underline;
		text-align: center;
		padding-bottom: 30px;
	}
	.about-detail-subtitle {
		color:#fff;
		font-weight: bold;
		text-align:left;
	}

	.fav-item {
		padding-bottom: 15px;
	}
}


/* language */
[data-lang="id"] {
	display: none;
}